<!DOCTYPE html>
<html>
	<head>
		<title>Info Point</title>
		<meta name = "viewport" content = "width = device-width, initial-scale = 1">
      	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
      	<script src = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
      	<link rel="stylesheet" type="text/css" href="public/css/main.css">
	</head>
	<body>
		<div id="react">
			
		</div>

		<script type="text/javascript" src = "public/js/mainApp/institutionMarkerOverlay.js"></script>
		<script type="text/javascript" src = "public/js/transformedApps/mainApp/indexAppTransformed.js"></script>
	</body>
	
</html>