
/*
key frames for animating
the google maps markers
of the institutions
*/
@keyframes instMarker{
	from {
		background: #333;
	}
	to {
		background: #66c2ff;
	}
}

@keyframes actionDropdownAnimation{
	from{
		opacity: 0;
		max-height: 0;
	}

	to{
		opacity: 1;
		max-height: initial;
	}
}

.navbar{
	position: absolute;
	
	background-color: rgba(0, 0, 0, 0.75);
}
.mdl-layout__drawer-button{
	border-radius: 50%;
}

.searchInput{
	color: #fff;
	border-color: #fff;
}

.searchActionForm .clearButton{
	left: calc(100% - 32px);
}

.filter-dropdown {
	position: absolute;
	top: calc(100% - 15px);

	border-radius: 4px;
	background: #333;
	color: #fff !important;

	overflow: hidden;
	transition: all 0.4s ease-in-out;
}

.filter-dropdown.openDropdown-enter {
	opacity: 0;
	max-height: 0;
}

.filter-dropdown.openDropdown-enter-active{
	opacity: 1;
	max-height: initial;
	transition: all 0.4s ease-in-out;
}

.filter-dropdown.openDropdown-leave {
	opacity: 1;
	max-height: initial;
}

.filter-dropdown.openDropdown-leave-active{
	opacity: 0;
	max-height: 0;
	transition: all 0.5s ease-in-out;
}

.filter-dropdown ul {
	width: 250px;

}

.filter-dropdown ul li {
	color: #fff !important;
	border:1px solid transparent;

	cursor: pointer;
	transition: all .4s ease-in-out;
}

.filter-dropdown ul li:hover{
	color: #333 !important;
	background: #fff;
	border-radius: 4px;
}

.instMarkerAnimation {
	animation-name: instMarker;
	animation-duration: 0.75s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.instMarker {
	position: absolute;
	width: 16px;
	height: 16px;

	border-radius: 50%;
	border:1px solid #404040;
	background: #333;
	
	pointer-events: auto !important;
	cursor: pointer;
}

.currentPositionButton{
	position: absolute;
	bottom: 80px;
	right: 10px;
	width: 32px;
	height: 32px;
	padding: 3px;

	background: white;
	border:1px solid #d9d9d9;
	border-radius: 4px;

	box-shadow: 0px 1px 15px #333;
	transition: all .4s ease-in-out;
	cursor: pointer;
	z-index: 9999;
}

.currentPositionButton:hover{
	background: #66c2ff;
}

.currentPositionButton:hover .material-icons{
	transform: translateY(-15px) skew(-35deg, 10deg);
	text-shadow: 13px 15px 2px #333;
	color: #fff;
}

.currentPositionButton .material-icons{
	position: relative;
	top: calc(50% - 12px);
	left: calc(50% - 12px);

	cursor: pointer;
	transition: all .4s ease-in-out;
}
/*.mdl-textfield:hover .filter-dropdown {
	max-height: initial;
	opacity: 1;
}
*/