
/*
key frames for animating
the google maps markers
of the institutions
*/
@keyframes instMarker{
	from {
		background: #333;
	}
	to {
		background: #66c2ff;
	}
}

@keyframes actionDropdownAnimation{
	from{
		opacity: 0;
		max-height: 0;
	}

	to{
		opacity: 1;
		max-height: initial;
	}
}

.navbar{
	position: absolute;
	
	background-color: rgba(0, 0, 0, 0.75);
}
.mdl-layout__drawer-button{
	border-radius: 50%;
}

.searchInput{
	color: #fff;
	border-color: #fff;
}

.searchActionForm .clearButton{
	left: calc(100% - 32px);
}

.filter-dropdown {
	position: absolute;
	top: calc(100% - 15px);
	max-height: 0;

	border-radius: 4px;
	background: #333;
	color: #fff !important;

	overflow: hidden;
	opacity: 0;
}

.filter-dropdown-enter {
	opacity: 0;
	max-height: 0;
	transition: all 0.4s ease-in-out;
}

.filter-dropdown-enter-active{
	opacity: 1;
	max-height: initial;
	transition: all 0.4s ease-in-out;
}

.filter-dropdown-enter-done {
	opacity: 1;
	max-height: initial;
}

.filter-dropdown-exit {
	opacity: 1;
	max-height: initial;
	transition: all 0.3s ease-in-out;
}

.filter-dropdown-exit-active{
	opacity: 0;
	max-height: 0;
	transition: all 0.3s ease-in-out;
}

.filter-dropdown ul {
	width: 250px;

}

.filter-dropdown ul li {
	color: #fff !important;
	border:1px solid transparent;

	cursor: pointer;
	transition: all .4s ease-in-out;
}

.filter-dropdown ul li:hover{
	color: #333 !important;
	background: #fff;
	border-radius: 4px;
}

.instMarkerAnimation {
	animation-name: instMarker;
	animation-duration: 0.75s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.instMarker {
	position: absolute;
	width: 16px;
	height: 16px;

	border-radius: 50%;
	border:1px solid #404040;
	background: #333;
	
	pointer-events: auto !important;
	cursor: pointer;
}

.instMarkerContent p{
	margin: 0px;
}

.currentPositionButton{
	position: absolute;
	bottom: 80px;
	right: 10px;
	width: 32px;
	height: 32px;
	padding: 3px;

	background: white;
	border:1px solid #d9d9d9;
	border-radius: 4px;

	box-shadow: 0px 1px 15px #333;
	transition: all .4s ease-in-out;
	cursor: pointer;
	z-index: 9000;
}

.currentPositionButton:hover{
	background: #66c2ff;
}

.currentPositionButton:hover .material-icons{
	transform: translateY(-15px) skew(-35deg, 10deg);
	text-shadow: 13px 15px 2px #333;
	color: #fff;
}

.currentPositionButton .material-icons{
	position: relative;
	top: calc(50% - 12px);
	left: calc(50% - 12px);

	cursor: pointer;
	transition: all .4s ease-in-out;
}

.institution-tab{
	position: fixed;
	height: 100%;
    right: 0;
    transform:translateX(calc(100% + 20px));

    color: #333;
    background: #fafafa;
    box-shadow: -1px 0px 20px #737373;
    z-index: 10000;
}

.institution-tab-enter {
	transform: translateX(100%);
}

.institution-tab-enter-active {
	transform: translateX(0%);
	transition: all .4s ease-in-out; 
}

.institution-tab-enter-done {
	transform: translateX(0%);
}

.institution-tab-exit {
	transform: translateX(0%);
}

.institution-tab-exit-active{
	transform: translateX(100%);
	transition: all .3s ease-out; 
}

.institution-tab .mdl-grid:first-child .mdl-cell {
	margin-top: 15px;
}

.institution-tab .mdl-grid:first-child .mdl-cell:nth-child(2) {
	text-align: center;
}

.institution-tab .mdl-grid:first-child .mdl-cell:first-child h4{
	padding-bottom: 5px;
	border-bottom: 1px solid #66c2ff;
}

.institution-tab .close-button {
	margin-top: 8%; 
	cursor: pointer;
	transition: all .4s ease-in-out;
}

.institution-tab .close-button:hover {
	border-radius: 8px;
	color: #EF5350;
	background: #333;
}

.institution-tab .mdl-grid:nth-child(2) .mdl-cell:first-child h5 {
	margin: 0px;
	padding: 10px;
}

.institution-tab .mdl-grid:nth-child(2) .mdl-cell:nth-child(2) ul {
	max-width: 300px;
	margin: 0px;
	padding: 0px;
	padding-left: 25px;
}

.institution-tab .mdl-grid:nth-child(2) .mdl-cell:nth-child(2) ul li {
	border: 1px solid transparent;
	cursor: pointer;
	transition: all .4s ease-in-out;
}

.institution-tab .mdl-grid:nth-child(2) .mdl-cell:nth-child(2) ul li:hover {
	border-color: #333;
	border-radius: 8px;	
}

/*.mdl-textfield:hover .filter-dropdown {
	max-height: initial;
	opacity: 1;
}
*/